/* VALORI DI DEFAULT E RESET, IMPORTAZIONE FONT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Ginto';
    font-size: 20px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

@font-face {
    font-family: 'Ginto';
    src: url('../fonts/whitneybook.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Ginto';
    src: url('../fonts/whitneybold.otf');
    font-weight: bold;
}

/* CLASSI IN COMUNE */

.btn {
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
}


/* HEADER E NAVBAR */

header {
    background-image: url('../img/jumbo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 100px;
    background-color: #245ee9;
    height: 720px;
}

header img {
    vertical-align: middle;
}

header nav {
    width: 75%;
    height: 100px;
    margin: auto;
    line-height: 100px;
}

header nav::after {
    content: "";
    display: table;
    clear: both;
}

.topnav-logo {
    float: left;
    width: 200px;
    text-align: center;
}

.topnav-list {
    margin: auto;
    width: calc(100% - 400px);
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.topnav-button {
    float: right;
    width: 200px;
    text-align: center;
}

header li {
    display: inline-block;
    margin: auto 20px;
    list-style: none;
    text-align: center;
    font-size: 1rem;
    color: white;
}

.header-btn {
    background-color: white;
    padding: 15px 20px;
}

/* MAIN */