/* VALORI DI DEFAULT E RESET, IMPORTAZIONE FONT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Ginto';
    font-size: 20px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

@font-face {
    font-family: 'Ginto';
    src: url('../fonts/whitneybook.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Ginto';
    src: url('../fonts/whitneybold.otf');
    font-weight: bold;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* BUTTONS */

.btn {
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    box-shadow: #181818 0px 20px 20px -15px;
    transition: 0.5s;
}

.nav-btn {
    padding: 15px 20px;
}

.btn-white {
    background-color: white;
    color: #23272a;
}

.btn-white:hover {
    color: #5865f2;
    transition: 0.5s;
}

.btn-black {
    background-color: #23272a;
    color: white;
}

.btn-black:hover {
    background-color: #363940;
}

.text-btn1 span {
    font-size: 1.2rem;
    position: absolute;
    margin-left: -27.5px;
    margin-top: -6px;
}

.text-btn1 {
    padding: 15px 30px;
    padding-left: 60px;
    margin-right: 15px;
}

.text-btn2 {
    padding: 15px 30px;
    margin-left: 15px;
}

/* HEADER NAVBAR */

header {
    background-image: url('../img/jumbo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 100px;
    background-color: #245ee9;
    height: 720px;
}

header img {
    vertical-align: middle;
}

header nav {
    width: 75%;
    height: 100px;
    margin: auto;
    line-height: 100px;
}

.topnav-logo {
    float: left;
    width: 200px;
    text-align: center;
}

.topnav-list {
    margin: auto;
    width: calc(100% - 400px);
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.topnav-button {
    float: right;
    width: 200px;
    text-align: center;
}

header li {
    display: inline-block;
    margin: auto 20px;
    list-style: none;
    text-align: center;
    font-size: 1rem;
    color: white;
}

header li:hover {
    text-decoration: underline;
}

/* HEADER TEXT */

.header-text-container {
    color: white;
    width: 44%;
    margin: 120px auto;
    text-align: center;
}

.header-text-container h1 {
    font-size: 3.5rem;
    margin-bottom: 40px;
}

.header-text-container p {
    font-size: 1.2rem;
    line-height: 150%;
    margin: auto;
    margin-bottom: 40px;
}

/* MAIN SECTIONS */

.section-container {
    width: 60%;
    height: 35vw;
    padding-top: 100px;
    margin: auto;
}

section.type1 {
    width: 100%;
    background-color: white;
}

section.type2 {
    width: 100%;
    background-color: #f6f6f6;
}

.type1 .section-img {
    float: left;
}

.type2 .section-img {
    float: right;
}

.type1 .section-text {
    margin-left: 120px;
}

.type2 .section-text {
    margin-right: 120px;
}

.section-text {
    color: #23272a;
    display: inline-block;
    width: 330px;
    margin-top: 20px;
}

.section-text h1 {
    font-size: 2.5rem;
}

.section-text p {
    font-size: 1rem;
    margin-top: 20px;
    line-height: 150%;
}

/* WAVES */

.wave-gray{
    background-color: white;
}

.wave-white{
    background-color: #f6f6f6;
}

.wave-gray img{
    filter: invert(0.965);
    transform: translate(0px, 5px);
}

.wave-white img{
    filter: invert(1);
    transform: translate(0px, 5px);
}


/* BOTTOM SECTION */

/* FOOTER */